#header

%header.navbar.navbar-fixed-top.navbar-inner
  .container
    %nav
      %ul.nav.navbar-nav.center
        %a{:href => about_path} 
          %img{:alt => "", :src => "http://res.cloudinary.com/fayecheng/image/upload/v1470805256/about1_stomop_mtaj1t.png", :id => "navLogo"}
        %li= link_to "PROJECTS",   projects_path
        %li= link_to "DESIGNS",   designs_path
        %li= link_to "PRESS",   press_path
        %li= link_to "LEADERSHIP", leadership_path
        %li= link_to "RESUME", resume_path
        
