#header

%header.navbar.navbar-fixed-top.navbar-inner
  .container
    %nav
      %ul.nav.navbar-nav.center
        %a{:href => about_path} 
          %img{:alt => "", :src => "assets/about1.png", :id => "navLogo"}
        %li= link_to "PROJECTS",   projects_path
        %li= link_to "DESIGNS",   designs_path
        %li= link_to "PRESS",   press_path
        %li= link_to "RESUME",   resume_path
        %li= link_to "LEADERSHIP",   leadership_path
